@import "tailwindcss";

body {
    overflow-x: hidden !important;
    font-family: "Montserrat", sans-serif;
  }

  /* In your global CSS or Tailwind layer */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
  